<div id="content"></div>

<div class="credit">
	<strong>React.js Piano Using Flux Architecture</strong><br />
  by Khaaliq DeJan
  <div class="instructions">Instructions: Press "q" to start at
   the lower octave and "z" to start at the higher octave. Each octave layout mirrors
    the layout of the keys on a piano.</div>
  <div class="footnote">CSS Styling Credits (<a href="http://cssdeck.com/labs/pure-css3-piano"
    target="_blank">Pure CSS3 Piano</a>)</div><br />
	<div class="credit_ribbon"></div>
</div>
