.credit {
  margin:50px;
  width:390px;
  height:155px;
  padding:30px;
  position:relative;
  background:#fff;
  font:italic 1em Cambria,Georgia,Serif;
  color:#666;
  background:-webkit-gradient(linear,0% 20%,0% 92%,from(#fff),to(#f9f9f9),color-stop(.1,#fff));
  background:-moz-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-ms-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-o-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.1);
  -moz-box-shadow:1px 1px 4px rgba(0,0,0,0.1);
  box-shadow:1px 1px 4px rgba(0,0,0,0.1);
  -webkit-border-bottom-right-radius:60px 5px;
  -moz-border-radius-bottomright:60px 5px;

border-bottom-right-radius:60px 5px;
  -webkit-animation:taufik 1s;
  -moz-animation:taufik 1s;
  animation:taufik 1s;
}

.credit:before {
  content:"";
  width:98%;
  z-index:-1;
  height:100%;
  padding:0 0 1px 0;
  position:absolute;
  bottom:0;
  right:0;
  background:#fff;
  background:-webkit-gradient(linear,0% 20%,0% 92%,from(#fff),to(#f9f9f9),color-stop(.1,#fff));
  background:-moz-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-ms-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-o-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 8px rgba(0,0,0,0.1);
  -moz-box-shadow:1px 1px 8px rgba(0,0,0,0.1);
  box-shadow:1px 1px 8px rgba(0,0,0,0.1);
  -webkit-border-bottom-right-radius:60px 5px;
  -moz-border-radius-bottomright:60px 5px;

border-bottom-right-radius:60px 5px;
  -webkit-transform:skew(2deg,2deg) translate(-4px,8px);
  -moz-transform:skew(2deg,2deg) translate(-4px,8px);
  -ms-transform:skew(2deg,2deg) translate(-4px,8px);
  -o-transform:skew(2deg,2deg) translate(-4px,8px);
  transform:skew(2deg,2deg) translate(-4px,8px);
}

.credit:after {
  content:"";
  width:98%;
  z-index:-1;
  height:98%;
  padding:0 0 1px 0;
  position:absolute;
  bottom:0;
  right:0;
  background:#f3f3f3;
  background:-webkit-gradient(linear,0% 20%,0% 92%,from(#fff),to(#f9f9f9),color-stop(.1,#fff));
  background:-moz-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-ms-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:-o-linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  background:linear-gradient(0 0 270deg,#fff,#fff 10%,#f9f9f9);
  border:1px solid #ccc;
  -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
  -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
  box-shadow:0px 0px 8px rgba(0,0,0,0.1);
  -webkit-transform:rotate(-4deg) translate(-14px,-2px);
  -moz-transform:rotate(-4deg) translate(-14px,-2px);
  -ms-transform:rotate(-4deg) translate(-14px,-2px);
  -o-transform:rotate(-4deg) translate(-14px,-2px);
  transform:rotate(-4deg) translate(-14px,-2px);
}

.credit_ribbon {
  position:absolute;
  top:0;
  left:0;
  width:115px;
  height:35px;
  background:rgba(0,0,0,0.1);
  background:-webkit-gradient(linear,555% 20%,0% 92%,from(rgba(0,0,0,0.1)),to(rgba(0,0,0,0.0)),color-stop(.1,rgba(0,0,0,0.2)));
  background:-moz-linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  background:-ms-linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  background:-o-linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  background:linear-gradient(555% 0 180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.0));
  border-left:1px dashed rgba(0,0,0,0.1);
  border-right:1px dashed rgba(0,0,0,0.1);
  -webkit-box-shadow:0px 1px 7px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 1px 7px rgba(0,0,0,0.2);
  box-shadow:0px 1px 7px rgba(0,0,0,0.2);
  -webkit-transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
  -moz-transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
  -o-transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
  transform:rotate(-30deg) skew(0,0) translate(-30px,-20px);
}

.instructions {
  padding-top: 15px;
  padding-bottom: 30px;
}

.footnote {
  font-size: 12px;
}

.clear {
  clear:both;
}
